<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <script src="https://static.freshdev.io/fdk/2.0/assets/fresh_client.js"></script>
  </head>
  <body>
    <div class="flex-container">
      <p> Here comes addtional space for you to utilize and build your app.</p>
        <fw-button color='secondary' class="modal-closer"> Close a Modal </fw-button>
      </div>
    </div>
  </body>
  <script defer>
    var client;
    let closeModalBtn = document.querySelector('.modal-closer');

    (async function init() {
      client = await app.initialized();
      closeModalBtn.addEventListener('click', () => client.instance.close())
    })();
  </script>
  <script type="module" src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.esm.js"></script>
  <script nomodule src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.js"></script>
</html>
